<div class="tw-relative">
  <!-- navbar -->
  <div class="
  tw-flex tw-items-center
  tw-justify-between tw-py-4 tw-px-6 sm:tw-py-5 sm:tw-px-9 
  tw-border-b tw-border-b-slate-900/10 dark:tw-border-b-slate-50/5">
    <nav-left-part></nav-left-part>
    <nav-right-part></nav-right-part>
  </div>

  <!-- burger nav model -->
  <div class="
  tw-rounded-bl-xl
  tw-text-center tw-font-medium
  tw-pt-1.5 tw-pb-2.5 tw-px-7 sm:tw-px-9
  tw-absolute tw-right-0 tw-flex tw-flex-col tw-gap-y-1.5
  tw-text-slate-700 dark:tw-text-slate-200
  "
  [ngClass]="{'tw-border-b tw-border-x tw-border-slate-900/10 dark:tw-border-slate-50/5 tw-bg-slate-50 dark:tw-bg-[#0B1120] tw-bg-opacity-[0.9] dark:tw-bg-opacity-[0.9] tw-z-50': nav.activeBurger && nav.innerWidth < 768}"
  >
    <ng-container *ngIf="nav.activeBurger">
      <nav-ul-list className="tw-flex tw-flex-col tw-gap-y-1.5 md:tw-hidden"></nav-ul-list>
      <nav-auth class="md:tw-hidden"></nav-auth>
    </ng-container>
  </div>
</div>
