<!-- using separation (since 3 september) for different types of inputs in favor of scalability and readability the code -->
<div class="tw-flex tw-flex-col tw-w-full tw-gap-y-1">
  <!-- input type=text -->
  <ng-template [ngIf]="!isCheckbox">
    <label for="{{ label }}" class="tw-font-medium tw-text-sm tw-leading-6 tw-text-gray-800 dark:tw-text-gray-100">
      <ng-content></ng-content>
    </label>
    <input
      [formControl]="control"
      type="text"
      placeholder="{{ placeholder }}"  
      id="{{ label }}"
      class="tw-rounded-md tw-border-0 tw-py-1.5 tw-px-3 tw-text-gray-900 placeholder:tw-text-gray-400 sm:tw-text-sm sm:tw-leading-6 tw-shadow-sm tw-outline-none tw-ring-1 tw-ring-inset tw-ring-gray-300 focus:tw-ring-2 focus:tw-ring-inset focus:tw-ring-indigo-600 dark:tw-bg-slate-800 dark:tw-text-gray-100 dark:placeholder:tw-text-gray-500 dark:tw-ring-gray-700  dark:focus:tw-ring-indigo-500"   
    >
  </ng-template>

  <!-- input type=checkbox -->
  <ng-template [ngIf]="isCheckbox">
    <input
      [formControl]="control"
      (change)="toggleCheckboxState($event)"
      type="checkbox"
      placeholder="{{ placeholder }}"
      id="{{ label }}"
      class="tw-h-4 tw-w-4 tw-rounded tw-border-gray-300 tw-text-indigo-600 focus:tw-ring-indigo-600 dark:tw-bg-slate-800 dark:tw-border-gray-700  dark:focus:tw-ring-indigo-500 dark:tw-ring-offset-slate-900"
    >
  </ng-template>
</div>