<div 
  class="tw-absolute tw-top-0 tw-max-h-full tw-inset-x-0 tw--z-10 tw-transform-gpu tw-overflow-hidden tw-blur-3xl"
  aria-hidden="true"
  >
  <div 
    class="
      tw-relative tw--z-10 tw-aspect-[1] tw-w-full tw-max-w-none tw-bg-gradient-to-tr tw-opacity-30 dark:tw-opacity-10 
      tw-from-[#ff80b5] tw-to-[#9089fc] dark:tw-from-[#4f46e5] dark:tw-to-[#80caff]
    "
  style="clip-path: polygon(0% 0%, 24% 0%, 34.5% 6.52%, 40.9% 10.35%, 51.81% 13.23%, 62.03% 8.47%, 74.84% 20.59%, 85.73% 29.37%, 91.3% 36.16%, 100% 37.32%, 100% 51.2%, 86.84% 49.03%, 76.07% 39.51%, 69.16% 34.56%, 55.42% 24.51%, 50% 26.54%, 43.26% 29.26%, 37.32% 23.31%, 31.19% 17.55%, 21.53% 15.23%, 16.38% 13.99%, 0% 15.75%);"
  ></div>
</div>