<div 
  class="tw-absolute tw-top-0 tw-inset-x-0 tw--z-10 tw-transform-gpu tw-overflow-hidden tw-blur-3xl"
  aria-hidden="true"
  >
  <div 
    class="
      tw-relative tw--z-10 tw-aspect-[1] tw-w-full tw-max-w-none tw-bg-gradient-to-tr tw-opacity-30 dark:tw-opacity-10 
      tw-from-[#ff80b5] tw-to-[#9089fc] dark:tw-from-[#4f46e5] dark:tw-to-[#80caff]
    "
  style="clip-path: polygon(0% 0%, 24% 0%, 33.24% 7.16%, 43.26% 7.32%, 48.97% 15.55%, 59.81% 14.95%, 68.08% 26.44%, 80.83% 26.65%, 87.19% 37.32%, 100% 37.32%, 100% 51.2%, 86.84% 49.03%, 76.07% 39.51%, 61.73% 38.55%, 44.6% 24.47%, 28.4% 21.3%, 19.62% 7.32%, 0% 15.75%);"
  ></div>
</div>