<div 
  class="tw-absolute tw-top-0 tw-inset-x-0 tw--z-10 tw-transform-gpu tw-overflow-hidden tw-blur-3xl"
  aria-hidden="true"
  >
  <div 
    class="
      tw-relative tw--z-10 tw-aspect-[1] tw-w-full tw-max-w-none tw-bg-gradient-to-tr tw-opacity-30 dark:tw-opacity-10 
      tw-from-[#ff80b5] tw-to-[#9089fc] dark:tw-from-[#4f46e5] dark:tw-to-[#80caff]
    "
  style="clip-path: polygon(0% 0%, 24% 0%, 36.2% 7.62%, 39.91% 11.62%, 48.39% 15.25%, 57.24% 12.65%, 61.66% 24.47%, 78.02% 26.53%, 88.59% 39.19%, 100% 37.32%, 100% 52.39%, 82.88% 46.34%, 79.33% 39.19%, 69.67% 35.38%, 57.59% 35.38%, 50.79% 25.41%, 38.86% 23.24%, 19.62% 7.32%, 0% 15.75%);"
  ></div>
</div>