<main class="tw-grid tw-min-h-full tw-place-items-center tw-px-6 tw-py-24 sm:tw-py-32 lg:tw-px-8">
  <div class="tw-text-center">
    <p class="tw-text-base tw-font-semibold tw-text-indigo-600">404</p>
    <h1 class="tw-mt-4 tw-text-3xl tw-font-bold tw-tracking-tight tw-text-slate-900 dark:tw-text-white sm:tw-text-5xl">Page not found</h1>
    <p class="tw-mt-6 tw-text-base tw-leading-7 tw-text-slate-700 dark:tw-text-slate-200">Sorry, we couldn’t find the page you’re looking for.</p>
    <div class="tw-mt-10 tw-flex tw-items-center tw-justify-center tw-gap-x-6">
      <a [routerLink]="link.home" class="tw-rounded-md tw-bg-indigo-600 tw-px-3.5 tw-py-2.5 tw-text-sm tw-font-semibold tw-text-white tw-shadow-sm hover:tw-bg-indigo-500 focus-visible:tw-outline focus-visible:tw-outline-2 focus-visible:tw-outline-offset-2 focus-visible:tw-outline-indigo-600">Go back home</a>
      <a routerLink="#" class="tw-text-sm tw-font-semibold tw-text-slate-700 dark:tw-text-slate-200">Contact support <span aria-hidden="true">&rarr;</span></a>
    </div>
  </div>
</main>
