<div class="
  tw-pt-10 sm:tw-pt-12 md:tw-pt-14 lg:tw-pt-16
  tw-flex tw-flex-col tw-justify-center tw-items-center
  ">
  <div>
    <h1 class="
    tw-max-w-sm sm:tw-max-w-xl lg:tw-max-w-none
    tw-text-4xl sm:tw-text-5xl lg:tw-text-6xl
    tw-font-extrabold tw-text-slate-900 dark:tw-text-white
    tw-text-center
    tw-tracking-tight
    ">Get the Help you were looking for.</h1>
  </div>

  <app-ui-line></app-ui-line>

  <div>
    <div>
      <h1>Share your problem</h1>
      <app-button>Post</app-button>
    </div>
    
    <h1>or</h1>

    <div>
      <h1>Help to those in need</h1>
      <app-button>Donate</app-button>
    </div>
  </div>
</div>