<div class="
  home-main-container
  tw-pt-10 sm:tw-pt-12 md:tw-pt-14 lg:tw-pt-16
  tw-flex tw-flex-col tw-justify-center tw-items-center tw-gap-y-6
  ">
  <div class="tw-flex tw-flex-col tw-items-center tw-gap-y-3">
    <h1 class="
    tw-max-w-sm sm:tw-max-w-xl lg:tw-max-w-none
    tw-text-4xl sm:tw-text-5xl lg:tw-text-6xl
    tw-font-extrabold tw-text-slate-900 dark:tw-text-white
    tw-text-center
    tw-tracking-tight
    ">
      <span class="home-main-phrase">Get the Help</span>
      <span class="home-main-phrase"> you were looking for</span>
    </h1>
    <h2 class="
      tw-max-w-xs sm:tw-max-w-lg lg:tw-max-w-none
      tw-text-xl sm:tw-text-2xl lg:tw-text-3xl
      tw-text-center 
      tw-text-slate-600 dark:tw-text-slate-400
    ">Just everything you need - to make a Post.</h2>
  </div>

  <app-button>Post</app-button>
</div>